* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    background: #353840;
}
h1.title,
h2.title,
h3.title {
    color: #f8f8f8;
}
header {
    padding: 10px 35px;
}
.menu {
    background: #868686;
    padding: 20px;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding-right: 10px;
}
.menu ul li a {
    color: #f8f8f8;
}
.container {
    max-width: 1240px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.main {
    width: 100%;
    padding: 35px;
}
ul {
    margin: 0;
    padding: 0;
}
ul > li {
    list-style-type: none;
}
.title {
    text-transform: uppercase;
}
.section {
    background: #f8f8f8;
    margin-bottom: 50px;
    padding: 20px;
}
pre {
    font-size: 0.8rem;
}

@media screen and ( max-width: 470px ) {

}